<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="plugins/bootstrap-table/css/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="css/global.css" media="all">
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/ag.css">
</head>

<body>
<div class="admin-main">
    <form  class="layui-form layui-form-pane" onsubmit="javascript:return false;">
        <div class="layui-form-item" style="margin-bottom:0px;">
        <div class="layui-inline">
                                        
                                
                                                <label class="layui-form-label">合同号</label>
                    <div class="layui-input-inline">
                        <input type="text" onchange="javascript:$('#btn_query').click();" class="layui-input" name="contractNo"  id="contractNo">
                    </div>
                
                                                
                                                <label class="layui-form-label">合同名称</label>
                    <div class="layui-input-inline">
                        <input type="text" onchange="javascript:$('#btn_query').click();" class="layui-input" name="contractName"  id="contractName">
                    </div>
                
                                                
                        <div class="layui-input-inline">
                <button type="button" id="btn_query"  class="layui-btn layui-btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <button type="button" id="btn_add"  class="layui-btn layui-btn">
                    新增
                </button>
            </div>
        </div>
    </form>
    <table class="layui-table" id="contractinfoTable" lay-filter="contractinfofilter">
    </table>
    <script type="text/html" id="contractinfobar">
        <a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="add" id="btn-add">新增</a>
        <a class="layui-btn layui-btn-mini" lay-event="edit" id="btn-edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del" id="btn-del">删除</a>
    </script>
    <div class="layui-tab-item">
        <div id="contractinfopage"></div>
    </div>
</div>
<script type="text/javascript" src="plugins/jquery.min.js"></script>
<script type="text/javascript" src="layui/layui.all.js"></script>
<script type="text/javascript" src="ag/contractinfo/contractinfolist.js"></script>
</body>
</html>