<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="plugins/bootstrap-table/css/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="css/global.css" media="all">
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
</head>

<body>
<div class="admin-main">
    <form  class="layui-form layui-form-pane" onsubmit="javascript:return false;">
        <div class="layui-form-item" style="margin-bottom:0px;">

        #foreach($column in $columns)
            #if($!column.queryFlag.equals("Y")&&$!column.dataType.equals("date"))
                    <label class="layui-form-label">$!column.columnComment</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" name="$!column.columnName" id="$!column.columnName" lay-verify="date" placeholder="yyyy-mm-dd" autocomplete="off" onclick="layui.laydate({elem: this})">
                    </div>
                #elseif($!column.queryFlag.equals("Y")&&$!column.dataType.equals("datetime"))
                        <label class="layui-form-label">$!column.columnComment</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" name="$!column.columnName" id="$!column.columnName" lay-verify="date" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" onclick="layui.laydate({elem: this})">
                        </div>
            #elseif($!column.queryFlag.equals("Y")&&$!column.dataType!="date"&&$!column.dataType!="datetime")
                <label class="layui-form-label">$!column.columnComment</label>
                <div class="layui-input-inline">
                    <input type="text" onchange="javascript:$('#btn_query').click();" class="layui-input"  id="$!column.columnName">
                </div>
            #end

         #end
            <button type="button" id="btn_query"  class="layui-btn layui-btn">
                <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            <button type="button" id="btn_add"  class="layui-btn layui-btn">
                新增
            </button>
        </div>
    </form>
    <table class="layui-table" id="${model}Table" lay-filter="${model}filter">
    </table>
    <script type="text/html" id="${model}bar">
        <a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="add" id="btn-add">新增</a>
        <a class="layui-btn layui-btn-mini" lay-event="edit" id="btn-edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del" id="btn-del">删除</a>
    </script>
    <div class="layui-tab-item">
        <div id="${model}page"></div>
    </div>
</div>
<script type="text/javascript" src="plugins/jquery.min.js"></script>
<script type="text/javascript" src="layui/layui.all.js"></script>
<script type="text/javascript" src="ag/${model}/${model}list.js"></script>
</body>
</html>